<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Remote Control</h1>
    <p class="lead">Remote Control for Smart Home</p>
  </div>
</header>

<tabset>
    <tab heading="DB">
      <h1 class="page-header">IRCode Data Base</h1>
       <div  class="container">
        <div class="table-responsive">
        <table class="table">
          <thead>
             <tr>
               <th>No</th>
               <th>Floor</th>
               <th>Place</th>
               <th>Button</th>
               <th>Code</th>
               <th>Group</th>
               </tr>
          </thead>
          <tbody>
            <tr ng-repeat="ir in irs">
             <td>{{ir._id}}</td>
             <td>{{ir.floor}}</td>
             <td>{{ir.place}}</td>
             <td>{{ir.button}}</td>
             <td>{{ir.code}}</td>
             <td>{{ir.group}}</td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </tab>
    <tab heading="REG">
      <form class="ir-form">
        <label>Register IR Code</label>
        <p class="input-group">
          // TODO: コントローラにメソッドの作成
          <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" ng-click="main.addThing()">Add New</button>
          </span>
        </p>
      </form>
    </div>
    <li class="list-item"><a ui-sref="ir">Home</a></li>

    </tab>
</tabset>
